body{
	font-family: 'Arvo', sans-serif;
	background: #F0F8FF;
}

.nav{
	background: #BAD7F1;
}

.img-nav{
	margin-top: -74px;
}

.titulo-principal{
	font-size: 3em;
	text-align: center;
}

.form-center{
	display: flex;
}

.botao{
	background: #327EC3;
	margin: 0 auto;
    display: block;
    margin-top: 30px; 
}

.enviar{
	margin: 0 auto;
    margin-top: 35px;
}

.help{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	list-style-position:inside;
}

.mostra{
	display:block;
}

.esconde{
	display:none;
}